@model MvcPL.Models.Helpers.PagedList<MvcPL.Models.Photo.PhotoViewModel>
@{
    ViewBag.Title = "Images";
    using (Html.BeginForm("Index", null, FormMethod.Get))
    {
        <div class="row">
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text"
                           name="filter"
                           value="@ViewBag.filter"
                           class="form-control"
                           style="display: inline"
                           placeholder="Search"/>
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Go</button>
                </span>
                </div>
            </div>
        </div>
    }
    Html.RenderPartial("ShowGallery", Model);
}