@model MvcPL.Models.ProfileViewModel
<div class="row">
    <span class="panel-body">First Name: @Model.FirstName</span>
    <span class="panel-body">Last Name: @Model.LastName</span>
    <span class="panel-body">Age: @Model.Age</span>
    <span class="panel-body">Last Update Date: @Model.LastUpdateDate</span>
</div>
